 <%_ current_page.items.forEach(function(position, i, arr){ -%>
<div class='item'>
    <div class='card'><!-- /* href=" <%= position.url %>"> */-->
        <div class='logo'><img src=' <%= position.image %>' width='160' /></div>
        <h1> <%- position.name %></h1>
        <h3> <%- position.title %></h3>
        <br>
        <p><b>Years:</b>  <%- position.years %></p>
        <br>
                <%_ position.items.forEach(function(item, i, arr){ -%>
                    <div class="position-subsection">
                    <b><%- item.name %></b>
                    <%_ if (item.hasOwnProperty("info")) { -%>
                      <p><%- item.info %></p>
                    <%_ } -%>
                        <% if (item.hasOwnProperty("subitems")) { %>
                    <ul>
                        <%_ item.subitems.forEach(function(subitem, i, arr){ -%>
                            <li>
                                <% if (typeof subitem == "string") { %>
                                    <%- subitem %>
                                <% } else { %>
                                    <a href="<%= subitem.url %>"><%- subitem.name %>
                                      <%_ if (subitem.hasOwnProperty("year")) {-%> (<%- subitem.year %>)
                                      <%_ } -%>
                                    </a>
                                <% } %>
                            </li>
                        <%_ }); -%>
                    </ul>
                        <%_ }; -%>
                    </div>

                <%_ }); -%>
    </div>
</div>
 <%_ }); -%>
