 <%_ current_page.items.forEach(function(item, i, arr){ -%>
<div class='item'>
    <div class='card'>
        <h1> <%- item.title %></h1>
        <p><b>Year: </b> <%- item.year %></p>
        <p><b>Publication: </b> <%- item.publication %></p>
        <p><b>Authors: </b> <%- item.authors %></p>
        <div class='content'>
          <p> <%- item.abstract %></p>
          <a href=" <%= item.link %>">Link</a>
          <br>
          <% if (item.video) { %>
          <a href=" <%= item.video %>">Video</a>
          <% } %>
        </div>
    </div>
</div>
 <%_ }); -%>
