 <%_ current_page.items.forEach(function(item, i, arr){ -%>
<div class='item'>
    <a class='card'>
        <div class='logo'><img src=' <%= item.image %>' width='160' /></div>
        <h1> <%= item.name %></h1>
        <p><b>Date: </b> <%- item.date %></p>
        <p><b>Location: </b> <%- item.location %></p>
        <div class='content'>
          <p> <%- item.description %></p>
        </div>
    </a>
</div>
 <%_ }); -%>
