<div class="item project-disclaimer">
<p>Most of these are technical projects whose code is stored on my own Github account. For all of them, I did all or a significant portion of the work.</p>
</div>

 <%_ current_page.items.forEach(function(item, i, arr){ -%>
<div class='item'>
    <div class='card clickable-card' data-link=" <%= item.url %>">
        <div class='logo'><img src=' <%= item.image %>' width='160' /></div>
        <h1> <%- item.name %></h1>
        <h3> <%- item.subtitle %></h3>
        <p><b>Contributors:</b>  <%- item.contributors %></p>
        <p><b>Date:</b>  <%= item.date %></p>
        <div class='content'>
          <p> <%- item.description %></p>
          <% if (item.recognition !== "") { %>
              <p><b>Recognition:</b>  <%- item.recognition %></p>
          <% }; %>
          <p>Note: this clickable card redirects to  <%= item.url %>.</p>
        </div>
    </div>
</div>
 <%_ }); -%>
