<div class='item'>
    <div class='card'>
        <div class='logo'><img src=' <%= current_page.logo %>' width='160' /></div>
        <h1> <%- current_page.school %></h1>
        <p><%- current_page.years %></p>
        <p> <%- current_page.masters_degree %> (<%- current_page.masters_year %>)</p>
        <ul>
            <li><p><b>Thesis:</b> <%- current_page.masters_thesis %></p></li>
            <li><p><b>Concentration:</b> <%- current_page.masters_concentration %></p></li>
        </ul>
        <p> <%- current_page.undergrad_degree %> (<%- current_page.undergrad_year %>)</p>
    </div>
</div>
