<div class='header'>
<div class='profile'>
<a class='portrait' href='/'><img src='/portrait.jpg' /></a>
<div class='name'><a href='/'><%= name %></a></div>
<div class='bio'><%= bio %></div>
<div class='links'>
<%_ links.forEach(function(link, i, arr){ -%>
<a class='icon' target='_blank' href='<%= link.url %>' title='<%= name %>'><span class='symbol'><%- link.symbol %></span></a>
<%_ }); -%>
</div>
</div>
<nav class='navigation'>
<ul class='tabs' id='tabs'>
<%_ pages.forEach(function(page, i, arr){ -%>
  <li class='tab'>
    <a <% if (page.active){ %>class='active'<% }; %> href='<%= page.url %>'><%= page.name -%></a>
 </li>
<%_ }); -%>
</ul>
</nav>
</div>
