<html>
<head>
<title><%= name %></title>
<meta name='description' content='<%= description %>' />
<meta name='author' content='<%= name %>' />
<%- include(template_path + "meta.ejs") %>
<%- include(template_path + "icon.ejs") %>
<style type='text/css'>
<%- include(template_path + "site.css") %>
</style>
</head>
<body>
<%- include(template_path + "header.ejs") %>
<%- current_page %>
<script><%- include(template_path + "extra.js") %></script>
</body>
</html>
